### >jop-software/editors
/.idea
/.vscode
### <jop-software/editors

### >jop-software/local-development
/.build
### <jop-software/local-development

### >jop-software/composer
/composer.lock
/vendor
### <jop-software/composer

### >jop-software/ci-tooling
.phpcs-cache
### <jop-software/ci-tooling
